@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>Introdução</h2>
<p>
    Bem-vindo à política de privacidade do MyCar. A sua privacidade é fundamental para nós. Esta política de privacidade esclarece como coletamos, usamos, divulgamos
    e protegemos as informações pessoais dos usuários do nosso site.
</p>
<hr />
<p>As informações pessoais são utilizadas para processar transações, fornecer produtos ou serviços solicitados, personalizar a experiência do usuário,
    enviar informações sobre produtos e ofertas (mediante consentimento), melhorar nossos produtos e cumprir obrigações legais.</p>
<br />
<p>
    Se tiver dúvidas ou preocupações sobre esta política, entre em contato conosco pelo e-mail guirfaelrn@gmail.com.
    <br />
    Atualizado em 2024.
</p>